/* General app styling */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100%; /* Full height to ensure the sidebar sticks to the side */
}


.chat-box-holder {
  padding: 15px;
  background-color: #eff6ff;
  width: 80%;
  position: fixed; /* Fix the container to the bottom */
  bottom: 0; /* Align it to the bottom of the screen */
  left: 270px; /* Account for the sidebar width */
  right: 120px; /* Extend it to the right edge */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}



.chat-input-textarea {
  /* background-color: #40414f; */
  background-color: #eff6ff;
  width: 90%;
  border-radius: 5px;
  border: "1px";
  border-color: black;
  padding: 10px; /* Add padding for better usability */
  margin-right: 10px;
  color: black; /* Adjust text color for better visibility */
  resize:none; /* Prevent resizing */
  height: 70px; /* Set a fixed height */
}

.chat-log {
  flex-grow: 1; /* Take remaining space */
  color: black;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  width: 100%; /* Full width */
  height: 70%;
  margin-bottom: 100px;
  text-align: left; /* Align text to the left */
}

.chat-message {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px; /* Add spacing between messages */
}

/* .avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} */



.text-container {
  max-height: 400px; /* Set a maximum height for the text container */
  padding-left: 70px; /* Ensure text doesn't overlap the avatar */
}


/* 
.avatar-llama {
  background: #0884fb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
} */

.chat-message-center {
  padding: 12px;
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto ;

}
.message{
  
  padding-left: 40px;
  padding-right: 40px;

}
/* Header styling */
.App-header {
  background-color: #eff6ff;
  color: black;
  min-height: 100vh;
  padding: 10px;
  /* padding-left: 270px; */
  flex-shrink: 0; /* Prevent shrinking */
  text-align: center;
  overflow-y: hidden;
  width: 100%; /* Full width */
  /* box-sizing: border-box; */
}

.Main {
  background-color: #eff6ff;
  color: black;
  padding: 20px;
  padding-left: 270px;
  
  text-align: left;
  width: 100%; /* Full width */
  height: fit-content(100px);
}


/* Button styling */
button {
  background-color: #71d8fb;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Quiz container styling */
.quiz-container {
  margin-top: 20px;
  text-align: left;
  background-color: #fff;
  color: black;
  padding: 15px;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
}

/* Error message styling */
.error {
  color: red;
  margin-top: 20px;
}